<!DOCTYPE html>
<html>
  <head>
    <title>PotepanRails-schedule</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ruby on Rails スケジュール管理アプリ</h1>
    </header>  
    <%= yield %>
    <footer>
      <p>日時<div id="current_date"></p>
        <script>
          date = new Date();
          year = date.getFullYear();
          month = date.getMonth() + 1;
          day = date.getDate();
          document.getElementById("current_date").innerHTML = year + "年" + month + "月" + day + "日";
        </script>
    </footer>
  </body>
</html>
